<div class="inner-wrapper">
    <div class="card p-0">
        <div class="card-head bg-primary text-white p-4 rounded fs-18 fw-600"><a href="javascript:void(0)" class="text-white" routerLink="/defaultsettings"><i class="fa fa-angle-left me-4 fs-5" aria-hidden="true"></i></a>Account Details
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center flex-column text-center mx-auto">
                <img src="../../../assets/user.png" class="btn-round-xxxl bg-greylight rounded mx-auto">
                <h4 class="fs-5 fw-bold mt-3">Surfiya Zakir</h4>
                <h4 class="fs-14 fw-600 text-black-50">Brooklyn</h4>
            </div>

            <div class="account-detail-form p-4">
                <form class="row g-3">
                    <div class="col-md-6">
                      <label for="inputfname" class="form-label fs-12 fw-600">First Name</label>
                      <input type="fname" class="form-control" id="inputfname">
                    </div>
                    <div class="col-md-6">
                        <label for="inputfname" class="form-label fs-12 fw-600">First Name</label>
                        <input type="fname" class="form-control" id="inputfname">
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="form-label fs-12 fw-600">Email</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="col-md-6">
                        <label for="phone" class="form-label fs-12 fw-600">Phone</label>
                        <input type="phone" class="form-control" id="phone">
                    </div>
                    <div class="col-md-12">
                        <label for="phone" class="form-label fs-12 fw-600">Country</label>
                        <input type="phone" class="form-control" id="phone">
                    </div>
                    <div class="col-md-12">
                        <label for="address" class="form-label fs-12 fw-600">Address</label>
                        <input type="address" class="form-control" id="address">
                    </div>
                    <div class="col-md-6">
                        <label for="city" class="form-label fs-12 fw-600">Twon / City</label>
                        <input type="city" class="form-control" id="city">
                    </div>
                    <div class="col-md-6">
                        <label for="postcode" class="form-label fs-12 fw-600">Postcode</label>
                        <input type="postcode" class="form-control" id="postcode">
                    </div>
                    <div class="col-md-12">
                        <label for="images" class="upload-file">
                            <i class="fa fa-cloud-download fs-2" aria-hidden="true"></i>
                            <span class="drop-title">Drag and drop or click to replace</span>
                            <input type="file" id="images" accept="image/*" required>
                          </label>
                    </div>
                    <div class="col-md-12">
                        <label for="message" class="form-label fs-12 fw-600">Description</label>
                        <textarea type="message" class="form-control" id="message" placeholder="Write your message..."></textarea>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-lg btn-primary fs-14 w-25 py-3 fw-600 rounded">Save</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>