<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="filter-search-block">
                <div class="text-field">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="fw-bold d-flex gap-4 mb-0">Badge </h4>
                        <div class="moreIcon d-flex justify-content-between">
                            <div class="header-search-field position-relative">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <input class="form-control border-0 bg-greylight" type="search" placeholder="Search here" aria-label="Search">
                            </div>
                            <i class="fa fa-filter btn-square bg-greylight" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="badge-cardBlock">
            <div class="row">
                <div class="col-sm-4">
                  <div class="card text-center">
                    <img src="../../../assets/user.png" class="btn-round-xxxl bg-greylight mx-auto">
                    <div class="card-body">
                      <h4 class="fs-6 fw-bold">Aliqa Macale</h4>
                      <h4 class="fs-12 fw-600 text-black-50">support@gmail.com</h4>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="text-center">
                            <div class="card-body p-0">
                                <h4 class="fs-6 fw-bold">55.7k </h4>
                                <h4 class="fs-12 fw-500 text-black-50">Connections</h4>
                              </div>
                        </div>
                        <div class="text-center">
                            <div class="card-body p-0">
                                <h4 class="fs-6 fw-bold">105k </h4>
                                <h4 class="fs-12 fw-500 text-black-50">Follower</h4>
                              </div>
                        </div>
                        <div class="text-center">
                            <div class="card-body p-0">
                                <h4 class="fs-6 fw-bold">71k </h4>
                                <h4 class="fs-12 fw-500 text-black-50">Followings</h4>
                              </div>
                        </div>
                    </div>
                    
                    <div class="d-flex justify-content-center gap-2 my-4">
                        <div class="text-center">
                            <img src="../../../assets/top-student.svg" class="mx-auto">
                        </div>
                        <div class="text-center">
                            <img src="../../../assets/onfire.svg" class="mx-auto">
                        </div>
                        <div class="text-center">
                            <img src="../../../assets/fast-graduate.svg" class="mx-auto">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center gap-2">
                        <a href="#" class="btn btn-lg btn-primary rounded-pill fs-14 fw-500">Follow</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center">
                      <img src="../../../assets/user.png" class="btn-round-xxxl bg-greylight mx-auto">
                      <div class="card-body">
                        <h4 class="fs-6 fw-bold">Aliqa Macale </h4>
                        <h4 class="fs-12 fw-600 text-black-50">support@gmail.com</h4>
                      </div>
                      <div class="d-flex justify-content-between">
                          <div class="text-center">
                              <div class="card-body p-0">
                                  <h4 class="fs-6 fw-bold">55.7k </h4>
                                  <h4 class="fs-12 fw-500 text-black-50">Connections</h4>
                                </div>
                          </div>
                          <div class="text-center">
                              <div class="card-body p-0">
                                  <h4 class="fs-6 fw-bold">105k </h4>
                                  <h4 class="fs-12 fw-500 text-black-50">Follower</h4>
                                </div>
                          </div>
                          <div class="text-center">
                              <div class="card-body p-0">
                                  <h4 class="fs-6 fw-bold">71k </h4>
                                  <h4 class="fs-12 fw-500 text-black-50">Followings</h4>
                                </div>
                          </div>
                      </div>
                      
                      <div class="d-flex justify-content-center gap-2 my-4">
                          <div class="text-center">
                              <img src="../../../assets/top-student.svg" class="mx-auto">
                          </div>
                          <div class="text-center">
                              <img src="../../../assets/onfire.svg" class="mx-auto">
                          </div>
                          <div class="text-center">
                              <img src="../../../assets/fast-graduate.svg" class="mx-auto">
                          </div>
                      </div>
                      <div class="d-flex justify-content-center gap-2">
                          <a href="#" class="btn btn-lg btn-primary rounded-pill fs-14 fw-500">Follow</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card text-center">
                      <img src="../../../assets/user.png" class="btn-round-xxxl bg-greylight mx-auto">
                      <div class="card-body">
                        <h4 class="fs-6 fw-bold">Aliqa Macale </h4>
                        <h4 class="fs-12 fw-600 text-black-50">support@gmail.com</h4>
                      </div>
                      <div class="d-flex justify-content-between">
                          <div class="text-center">
                              <div class="card-body p-0">
                                  <h4 class="fs-6 fw-bold">55.7k </h4>
                                  <h4 class="fs-12 fw-500 text-black-50">Connections</h4>
                                </div>
                          </div>
                          <div class="text-center">
                              <div class="card-body p-0">
                                  <h4 class="fs-6 fw-bold">105k </h4>
                                  <h4 class="fs-12 fw-500 text-black-50">Follower</h4>
                                </div>
                          </div>
                          <div class="text-center">
                              <div class="card-body p-0">
                                  <h4 class="fs-6 fw-bold">71k </h4>
                                  <h4 class="fs-12 fw-500 text-black-50">Followings</h4>
                                </div>
                          </div>
                      </div>
                      
                      <div class="d-flex justify-content-center gap-2 my-4">
                          <div class="text-center">
                              <img src="../../../assets/top-student.svg" class="mx-auto">
                          </div>
                          <div class="text-center">
                              <img src="../../../assets/onfire.svg" class="mx-auto">
                          </div>
                          <div class="text-center">
                              <img src="../../../assets/fast-graduate.svg" class="mx-auto">
                          </div>
                      </div>
                      <div class="d-flex justify-content-center gap-2">
                          <a href="#" class="btn btn-lg btn-primary rounded-pill fs-14 fw-500">Follow</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card text-center">
                      <img src="../../../assets/user.png" class="btn-round-xxxl bg-greylight mx-auto">
                      <div class="card-body">
                        <h4 class="fs-6 fw-bold">Aliqa Macale </h4>
                        <h4 class="fs-12 fw-600 text-black-50">support@gmail.com</h4>
                      </div>
                      <div class="d-flex justify-content-between">
                          <div class="text-center">
                              <div class="card-body p-0">
                                  <h4 class="fs-6 fw-bold">55.7k </h4>
                                  <h4 class="fs-12 fw-500 text-black-50">Connections</h4>
                                </div>
                          </div>
                          <div class="text-center">
                              <div class="card-body p-0">
                                  <h4 class="fs-6 fw-bold">105k </h4>
                                  <h4 class="fs-12 fw-500 text-black-50">Follower</h4>
                                </div>
                          </div>
                          <div class="text-center">
                              <div class="card-body p-0">
                                  <h4 class="fs-6 fw-bold">71k </h4>
                                  <h4 class="fs-12 fw-500 text-black-50">Followings</h4>
                                </div>
                          </div>
                      </div>
                      
                      <div class="d-flex justify-content-center gap-2 my-4">
                          <div class="text-center">
                              <img src="../../../assets/top-student.svg" class="mx-auto">
                          </div>
                          <div class="text-center">
                              <img src="../../../assets/onfire.svg" class="mx-auto">
                          </div>
                          <div class="text-center">
                              <img src="../../../assets/fast-graduate.svg" class="mx-auto">
                          </div>
                      </div>
                      <div class="d-flex justify-content-center gap-2">
                          <a href="#" class="btn btn-lg btn-primary rounded-pill fs-14 fw-500">Follow</a>
                      </div>
                    </div>
                  </div>
                <div class="col-sm-4">
                    <div class="card text-center">
                      <img src="../../../assets/user.png" class="btn-round-xxxl bg-greylight mx-auto">
                      <div class="card-body">
                        <h4 class="fs-6 fw-bold">Aliqa Macale </h4>
                        <h4 class="fs-12 fw-600 text-black-50">support@gmail.com</h4>
                      </div>
                      <div class="d-flex justify-content-between">
                          <div class="text-center">
                              <div class="card-body p-0">
                                  <h4 class="fs-6 fw-bold">55.7k </h4>
                                  <h4 class="fs-12 fw-500 text-black-50">Connections</h4>
                                </div>
                          </div>
                          <div class="text-center">
                              <div class="card-body p-0">
                                  <h4 class="fs-6 fw-bold">105k </h4>
                                  <h4 class="fs-12 fw-500 text-black-50">Follower</h4>
                                </div>
                          </div>
                          <div class="text-center">
                              <div class="card-body p-0">
                                  <h4 class="fs-6 fw-bold">71k </h4>
                                  <h4 class="fs-12 fw-500 text-black-50">Followings</h4>
                                </div>
                          </div>
                      </div>
                      
                      <div class="d-flex justify-content-center gap-2 my-4">
                          <div class="text-center">
                              <img src="../../../assets/top-student.svg" class="mx-auto">
                          </div>
                          <div class="text-center">
                              <img src="../../../assets/onfire.svg" class="mx-auto">
                          </div>
                          <div class="text-center">
                              <img src="../../../assets/fast-graduate.svg" class="mx-auto">
                          </div>
                      </div>
                      <div class="d-flex justify-content-center gap-2">
                          <a href="#" class="btn btn-lg btn-primary rounded-pill fs-14 fw-500">Follow</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card text-center">
                      <img src="../../../assets/user.png" class="btn-round-xxxl bg-greylight mx-auto">
                      <div class="card-body">
                        <h4 class="fs-6 fw-bold">Aliqa Macale </h4>
                        <h4 class="fs-12 fw-600 text-black-50">support@gmail.com</h4>
                      </div>
                      <div class="d-flex justify-content-between">
                          <div class="text-center">
                              <div class="card-body p-0">
                                  <h4 class="fs-6 fw-bold">55.7k </h4>
                                  <h4 class="fs-12 fw-500 text-black-50">Connections</h4>
                                </div>
                          </div>
                          <div class="text-center">
                              <div class="card-body p-0">
                                  <h4 class="fs-6 fw-bold">105k </h4>
                                  <h4 class="fs-12 fw-500 text-black-50">Follower</h4>
                                </div>
                          </div>
                          <div class="text-center">
                              <div class="card-body p-0">
                                  <h4 class="fs-6 fw-bold">71k </h4>
                                  <h4 class="fs-12 fw-500 text-black-50">Followings</h4>
                                </div>
                          </div>
                      </div>
                      
                      <div class="d-flex justify-content-center gap-2 my-4">
                          <div class="text-center">
                              <img src="../../../assets/top-student.svg" class="mx-auto">
                          </div>
                          <div class="text-center">
                              <img src="../../../assets/onfire.svg" class="mx-auto">
                          </div>
                          <div class="text-center">
                              <img src="../../../assets/fast-graduate.svg" class="mx-auto">
                          </div>
                      </div>
                      <div class="d-flex justify-content-center gap-2">
                          <a href="#" class="btn btn-lg btn-primary rounded-pill fs-14 fw-500">Follow</a>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
        
    </div>
</div>