.mailBox-list {
    ul {
        li {
            padding: 10px !important;
            margin-bottom: 5px;
        }
    }
}





@media screen and (max-width:1600px){
    
    
    
}


@media screen and (max-width:991px){
    
    
    
    
}
@media screen and (max-width:767px){
    .mailBox-list {
        ul {
            li {
                flex-flow: wrap;
            }
        }
    }
    

}
