<nav
  class="navbar navbar-expand-lg fixed-top navbar-dark bg-white py-1 py-lg-3"
>
  <div class="container-fluid">
    <a class="navbar-brand text-primary fw-bold" href="#"><i class="fa fa-bolt text-success" aria-hidden="true"></i> Sociala.</a>
    <div class="d-block d-lg-none ms-auto">
      <ul class="navbar-nav mb-lg-0 flex-row">
        <li class="nav-item d-flex align-items-center ms-2">
          <a class="nav-link" href="javascript:void(0)"
            ><i class="fa fa-comment-o text-black" aria-hidden="true"></i
          ></a>
        </li>
        <li class="nav-item d-flex align-items-center ms-2">
          <a class="nav-link" href="javascript:void(0)"
            ><i class="fa fa-video-camera text-black" aria-hidden="true"></i
          ></a>
        </li>
        <li class="nav-item d-flex align-items-center ms-2">
          <a class="nav-link" href="javascript:void(0)"
            ><i class="fa fa-search text-black" aria-hidden="true"></i
          ></a>
        </li>
      </ul>
    </div>
    <button
      class="navbar-toggler"
      type="button"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div
      class="collapse navbar-collapse d-none d-lg-block ms-auto"
      id="navbarSupportedContent"
    >
      <form class="d-flex ms-auto me-auto">
        <div class="header-search-field position-relative">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input
            class="form-control rounded-pill border-0"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
        </div>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item d-flex align-items-center">
            <a class="nav-link" href="javascript:void(0)"
              ><i class="fa fa-home" aria-hidden="true"></i
            ></a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a class="nav-link" href="javascript:void(0)"
              ><i class="fa fa-bolt" aria-hidden="true"></i
            ></a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a class="nav-link" href="javascript:void(0)"
              ><i class="fa fa-video-camera" aria-hidden="true"></i
            ></a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a class="nav-link" href="javascript:void(0)"
              ><i class="fa fa-user" aria-hidden="true"></i
            ></a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a class="nav-link" href="javascript:void(0)"
              ><i class="fa fa-shopping-bag" aria-hidden="true"></i
            ></a>
          </li>
        </ul>
      </form>
      <ul class="navbar-nav userblock-nav mb-2 mb-lg-0">
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link" href="javascript:void(0)"
            ><i class="fa fa-bell-o" aria-hidden="true"></i
          ></a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link" href="javascript:void(0)"
            ><i class="fa fa-comment-o" aria-hidden="true"></i
          ></a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link" href="javascript:void(0)"
            ><i class="fa fa-moon-o" aria-hidden="true"></i
          ></a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link" href="javascript:void(0)"
            ><i class="fa fa-user-o" aria-hidden="true"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
