<div class="inner-wrapper">
    <div class="card p-0">
        <div class="card-head bg-primary text-white p-4 rounded fs-18 fw-600"><a href="javascript:void(0)" class="text-white"  routerLink="/defaultsettings"><i class="fa fa-angle-left me-4 fs-5" aria-hidden="true"></i></a> Change Password
        </div>
        <div class="card-body">
            <div class="account-detail-form p-4">
                <form class="row g-3">
                    <div class="col-md-12">
                      <label for="password" class="form-label fs-12 fw-600">Current Password</label>
                      <input type="password" class="form-control" id="password">
                    </div>
                    <div class="col-md-12">
                        <label for="npassword" class="form-label fs-12 fw-600">New Password</label>
                        <input type="npassword" class="form-control" id="npassword">
                    </div>
                    <div class="col-md-12">
                        <label for="cpassword" class="form-label fs-12 fw-600">Confirm Change Password</label>
                        <input type="cpassword" class="form-control" id="cpassword">
                    </div>
                    
                    <div class="col-12">
                      <button type="submit" class="btn btn-lg btn-primary fs-14 w-25 py-3 fw-600 rounded">Save</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>