
<div class="bg-white shadow-sm p-3">
    <div class="filter-search-block mb-3">
        <div class="text-field">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="fw-bold d-flex gap-2 mb-0 align-items-center">Badge <span class="badge bg-warning fs-12 fw-500 py-2 ">23</span></h4>
                <div class="moreIcon d-flex justify-content-between">
                    <i class="fa fa-hdd-o btn-square bg-greylight" aria-hidden="true"></i>
                    <i class="fa fa-info-circle btn-square bg-greylight" aria-hidden="true"></i>
                    <i class="fa fa-trash-o btn-square bg-greylight" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="notification-list">
        <ul class="p-0 m-0">
            <li class="list-group-item d-flex justify-content-between align-items-center ps-0 gap-4 bg-lightblue rounded">
                <div class="d-flex justify-content-start align-items-center gap-2">
                    <div class="like-thumb-social-block"><img src="../../../assets/user.png" class="w45 bg-greylight"> <i class="fa fa-heart-o bg-mini-gradiant text-white fs-12 text-center"></i> </div>
                    <div>
                        <h4 class="fs-12 text-black fw-bold mb-0">Hurin Seary <span class="fw-600 text-black-50"> posted in :  </span> </h4>
                        <h4 class="fs-12 text-black-50 fw-bold mb-0">12 minute ago </h4>
                    </div>
                </div>
                <div class="d-flex justify-content-start align-items-center gap-2">
                    <div class=""><i class="fa fa-ellipsis-h text-black-50"></i></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center ps-0 gap-4 bg-light rounded">
                <div class="d-flex justify-content-start align-items-center gap-2">
                    <div class="like-thumb-social-block"><img src="../../../assets/user.png" class="w45 bg-greylight"> <i class="fa fa-heart-o bg-mini-gradiant text-white fs-12 text-center"></i> </div>
                    <div>
                        <h4 class="fs-12 text-black fw-bold mb-0">Hurin Seary <span class="fw-600 text-black-50"> posted in :  </span> </h4>
                        <h4 class="fs-12 text-black-50 fw-bold mb-0">12 minute ago </h4>
                    </div>
                </div>
                <div class="d-flex justify-content-start align-items-center gap-2">
                    <div class=""><i class="fa fa-ellipsis-h text-black-50"></i></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center ps-0 gap-4 bg-light rounded">
                <div class="d-flex justify-content-start align-items-center gap-2">
                    <div class="like-thumb-social-block"><img src="../../../assets/user.png" class="w45 bg-greylight"> <i class="fa fa-heart-o bg-mini-gradiant text-white fs-12 text-center"></i> </div>
                    <div>
                        <h4 class="fs-12 text-black fw-bold mb-0">Hurin Seary <span class="fw-600 text-black-50"> posted in :  </span> </h4>
                        <h4 class="fs-12 text-black-50 fw-bold mb-0">12 minute ago </h4>
                    </div>
                </div>
                <div class="d-flex justify-content-start align-items-center gap-2">
                    <div class=""><i class="fa fa-ellipsis-h text-black-50"></i></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center ps-0 gap-4 bg-light rounded">
                <div class="d-flex justify-content-start align-items-center gap-2">
                    <div class="like-thumb-social-block"><img src="../../../assets/user.png" class="w45 bg-greylight"> <i class="fa fa-heart-o bg-mini-gradiant text-white fs-12 text-center"></i> </div>
                    <div>
                        <h4 class="fs-12 text-black fw-bold mb-0">Hurin Seary <span class="fw-600 text-black-50"> posted in :  </span> </h4>
                        <h4 class="fs-12 text-black-50 fw-bold mb-0">12 minute ago </h4>
                    </div>
                </div>
                <div class="d-flex justify-content-start align-items-center gap-2">
                    <div class=""><i class="fa fa-ellipsis-h text-black-50"></i></div>
                </div>
            </li>
        </ul>
    </div>
</div>
