<div class="inner-wrapper">
    <div class="card p-0">
        <div class="card-head bg-primary text-white p-4 rounded fs-18 fw-600"><a href="javascript:void(0)" class="text-white" routerLink="/defaultsettings"><i class="fa fa-angle-left me-4 fs-5" aria-hidden="true"></i></a>Social Network
        </div>
        <div class="card-body">
            <div class="account-detail-form p-4">
                <form class="row g-3">
                    <div class="col-md-6">
                      <label for="facebook" class="form-label fs-12 fw-600">Facebook</label>
                      <input type="facebook" class="form-control" id="facebook">
                    </div>
                    <div class="col-md-6">
                        <label for="twitter" class="form-label fs-12 fw-600">Twitter</label>
                        <input type="twitter" class="form-control" id="twitter">
                    </div>
                    <div class="col-md-6">
                        <label for="linkedin" class="form-label fs-12 fw-600">Linkedin</label>
                        <input type="linkedin" class="form-control" id="linkedin">
                    </div>
                    <div class="col-md-6">
                        <label for="instagram" class="form-label fs-12 fw-600">Instagram</label>
                        <input type="instagram" class="form-control" id="instagram">
                    </div>
                    <div class="col-md-6">
                        <label for="flickr" class="form-label fs-12 fw-600">Flickr</label>
                        <input type="flickr" class="form-control" id="flickr">
                    </div>
                    <div class="col-md-6">
                        <label for="github" class="form-label fs-12 fw-600">Github</label>
                        <input type="github" class="form-control" id="github">
                    </div>
                    <div class="col-md-6">
                        <label for="skype" class="form-label fs-12 fw-600">Skype</label>
                        <input type="skype" class="form-control" id="skype">
                    </div>
                    <div class="col-md-6">
                        <label for="google" class="form-label fs-12 fw-600">Google</label>
                        <input type="google" class="form-control" id="google">
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-lg btn-primary fs-14 w-25 py-3 fw-600 rounded">Save</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>