<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="filter-search-block">
                <div class="text-field">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="fw-bold d-flex gap-4 mb-0">Stories </h4>
                        <div class="moreIcon d-flex justify-content-between">
                            <div class="header-search-field position-relative">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <input class="form-control border-0 bg-greylight" type="search" placeholder="Search here" aria-label="Search">
                            </div>
                            <i class="fa fa-filter btn-square bg-greylight" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="badge-cardBlock">
            <div class="homeSection-cardSlider">
            <div class="row">
                <div class="col-6 col-sm-3 mb-3">
                    <div class="cardSlider w-100">
                        <img src="../../../assets/user.png" class="btn-round-lg">
                        <h4 class="fs-12 fw-600">Aliqa Macale  </h4>
                    </div>
                </div>
                <div class="col-6 col-sm-3 mb-3">
                    <div class="cardSlider w-100">
                        <img src="../../../assets/user.png" class="btn-round-lg">
                        <h4 class="fs-12 fw-600">Aliqa Macale  </h4>
                    </div>
                </div>
                <div class="col-6 col-sm-3 mb-3">
                    <div class="cardSlider w-100">
                        <img src="../../../assets/user.png" class="btn-round-lg">
                        <h4 class="fs-12 fw-600">Aliqa Macale  </h4>
                    </div>
                </div>
                <div class="col-6 col-sm-3 mb-3">
                    <div class="cardSlider w-100">
                        <img src="../../../assets/user.png" class="btn-round-lg">
                        <h4 class="fs-12 fw-600">Aliqa Macale  </h4>
                    </div>
                </div>
                <div class="col-6 col-sm-3 mb-3">
                    <div class="cardSlider w-100">
                        <img src="../../../assets/user.png" class="btn-round-lg">
                        <h4 class="fs-12 fw-600">Aliqa Macale  </h4>
                    </div>
                </div>
                <div class="col-6 col-sm-3 mb-3">
                    <div class="cardSlider w-100">
                        <img src="../../../assets/user.png" class="btn-round-lg">
                        <h4 class="fs-12 fw-600">Aliqa Macale  </h4>
                    </div>
                </div>
                <div class="col-6 col-sm-3 mb-3">
                    <div class="cardSlider w-100">
                        <img src="../../../assets/user.png" class="btn-round-lg">
                        <h4 class="fs-12 fw-600">Aliqa Macale  </h4>
                    </div>
                </div>
                <div class="col-6 col-sm-3 mb-3">
                    <div class="cardSlider w-100">
                        <img src="../../../assets/user.png" class="btn-round-lg">
                        <h4 class="fs-12 fw-600">Aliqa Macale  </h4>
                    </div>
                </div>
                <div class="col-6 col-sm-3 mb-3">
                    <div class="cardSlider w-100">
                        <img src="../../../assets/user.png" class="btn-round-lg">
                        <h4 class="fs-12 fw-600">Aliqa Macale  </h4>
                    </div>
                </div>
                <div class="col-6 col-sm-3 mb-3">
                    <div class="cardSlider w-100">
                        <img src="../../../assets/user.png" class="btn-round-lg">
                        <h4 class="fs-12 fw-600">Aliqa Macale  </h4>
                    </div>
                </div>
                <div class="col-6 col-sm-3 mb-3">
                    <div class="cardSlider w-100">
                        <img src="../../../assets/user.png" class="btn-round-lg">
                        <h4 class="fs-12 fw-600">Aliqa Macale  </h4>
                    </div>
                </div>
                <div class="col-6 col-sm-3 mb-3">
                    <div class="cardSlider w-100">
                        <img src="../../../assets/user.png" class="btn-round-lg">
                        <h4 class="fs-12 fw-600">Aliqa Macale  </h4>
                    </div>
                </div>
              </div>
              </div>
        </div>
        
    </div>
</div>