<div class="row">
    <div class="col-sm-8">
        <div class="homeSection-cardSlider pb-2 mb-3">
            <div class="row flex-nowrap">
                <div class="col-4">
                    <div class="cardSlider w-100">
                        <i class="fa fa-plus bg-white" aria-hidden="true"></i>
                        <h4 class="fs-12 fw-600">Add Story </h4>
                    </div>
                </div>
                <div class="col-4">
                    <div class="cardSlider w-100">
                        <img  src="../../../assets/user.png" class="btn-round-lg bg-greylight">
                        <h4 class="fs-12 fw-600">Aliqa Macale  </h4>
                    </div>
                </div>
                <div class="col-4">
                    <div class="cardSlider w-100">
                        <img  src="../../../assets/user.png" class="btn-round-lg bg-greylight">
                        <h4 class="fs-12 fw-600">Seary Victor  </h4>
                    </div>
                </div>
                <div class="col-4">
                    <div class="cardSlider w-100">
                        <img  src="../../../assets/user.png" class="btn-round-lg bg-greylight">
                        <h4 class="fs-12 fw-600">Aliqa Macale  </h4>
                    </div>
                </div>
                <div class="col-4">
                    <div class="cardSlider w-100">
                        <img  src="../../../assets/user.png" class="btn-round-lg bg-greylight">
                        <h4 class="fs-12 fw-600">Seary Victor  </h4>
                    </div>
                </div>
            </div>
        </div>


<!-- 
        <div id="carouselExampleInterval" class="carousel slide new-suggestion-slider" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
               <div class="row homeSection-cardSlider">
                <div class="col-sm-4">
                    <div class="cardSlider w-100">
                        <i class="fa fa-plus bg-white" aria-hidden="true"></i>
                        <h4 class="fs-12 fw-600">Add Story </h4>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="cardSlider w-100">
                        <img  src="../../../assets/user.png" class="btn-round-lg bg-greylight">
                        <h4 class="fs-12 fw-600">Aliqa Macale  </h4>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="cardSlider w-100">
                        <img  src="../../../assets/user.png" class="btn-round-lg bg-greylight">
                        <h4 class="fs-12 fw-600">Seary Victor  </h4>
                    </div>
                </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="10000">
                <div class="row homeSection-cardSlider">
                 <div class="col-sm-4">
                     <div class="cardSlider w-100">
                         <img  src="../../../assets/user.png" class="btn-round-lg bg-greylight">
                         <h4 class="fs-12 fw-600">Seary Victor  </h4>
                     </div>
                 </div>
                 <div class="col-sm-4">
                     <div class="cardSlider w-100">
                         <img  src="../../../assets/user.png" class="btn-round-lg bg-greylight">
                         <h4 class="fs-12 fw-600">Seary Victor  </h4>
                     </div>
                 </div>
                 <div class="col-sm-4">
                     <div class="cardSlider w-100">
                         <img  src="../../../assets/user.png" class="btn-round-lg bg-greylight">
                         <h4 class="fs-12 fw-600">Seary Victor  </h4>
                     </div>
                 </div>
                 </div>
               </div>
               <div class="carousel-item" data-bs-interval="10000">
                <div class="row homeSection-cardSlider">
                 <div class="col-sm-4">
                     <div class="cardSlider w-100">
                         <img  src="../../../assets/user.png" class="btn-round-lg bg-greylight">
                         <h4 class="fs-12 fw-600">Seary Victor  </h4>
                     </div>
                 </div>
                 <div class="col-sm-4">
                     <div class="cardSlider w-100">
                         <img  src="../../../assets/user.png" class="btn-round-lg bg-greylight">
                         <h4 class="fs-12 fw-600">Seary Victor  </h4>
                     </div>
                 </div>
                 <div class="col-sm-4">
                     <div class="cardSlider w-100">
                         <img  src="../../../assets/user.png" class="btn-round-lg bg-greylight">
                         <h4 class="fs-12 fw-600">Seary Victor  </h4>
                     </div>
                 </div>
                 </div>
               </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div> -->

        <div class="card">
            <div class="createPost-block">
                <div class="title d-flex align-items-center">
                    <i class="fa fa-pencil-square-o text-primary btn-round-sm bg-greylight" aria-hidden="true"></i>
                    <h6 class="text-black-50 fs-14 fw-600 mb-0 ms-2">Create Post</h6>
                </div>
                <div class="text-field">
                    <div class="comment-block my-3">
                        <img src="../../../assets/user.png" class="btn-round-sm bg-greylight">
                        <textarea class="form-control" placeholder="What's on your mind?"></textarea>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="galleryIcon d-flex gap-4">
                            <a class="fs-12 d-flex gap-2 align-items-center text-decoration-none text-body fw-600"><i class="fa fa-video-camera text-danger fs-5" aria-hidden="true"></i><span>Live Video</span></a>
                            <a class="fs-12 d-flex gap-2 align-items-center text-decoration-none text-body fw-600"><i class="fa fa-image text-success fs-5" aria-hidden="true"></i><span>Photo/Video</span></a>
                            <a class="fs-12 d-flex gap-2 align-items-center text-decoration-none text-body fw-600"><i class="fa fa-camera text-warning fs-5" aria-hidden="true"></i><span>Feeling/Activity</span></a>
                        </div>
                        <div class="moreIcon">
                            <i class="fa fa-ellipsis-h btn-round-sm bg-greylight" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="createPost-block">
                <div class="title d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img  class="btn-round-sm bg-greylight" src="../../../assets/user.png" />
                        </div>
                        <div class="flex-grow-1 ms-3">
                        <h6 class="fs-12 fw-bold mb-0">Surfiya Zakir </h6>
                        <small class="fs-12 text-black-50 fw-500">22 min ago </small>
                        </div>
                    </div>
                    <div class="flex-shrink-0 moreIcon">
                        <i class="fa fa-ellipsis-h btn-round-sm bg-greylight" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="text-field">
                    <p class="fs-12 text-black-50 fw-500 mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla dolor, ornare at commodo non, feugiat non nisi. Phasellus faucibus mollis pharetra. Proin blandit ac massa sed rhoncus.  <a class="link fw-bold fs-12 text-decoration-none" href="">See more</a></p>
                    <img  class="img-fluid rounded" src="../../../assets/post.png" />
                    <div class="comment-block my-3">
                        <textarea class="form-control" placeholder="What's on your mind?"></textarea>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="galleryIcon d-flex gap-2">
                            <a class="fs-12 d-flex gap-2 align-items-center text-decoration-none text-body fw-600"><i class="fa fa-thumbs-o-up bg-primary-gradiant btn-round-xs  text-white"></i></a>
                            <a class="fs-12 d-flex gap-2 align-items-center text-decoration-none text-body fw-600"><i class="fa fa-heart-o bg-red-gradiant btn-round-xs  text-white"></i> <span>2.8K Like</span></a>
                            <a class="fs-12 d-flex gap-2 align-items-center text-decoration-none text-body fw-600"><i class="fa fa-comment-o bg-primary-gradiant btn-round-xs  text-white"></i> <span>22 Comment</span></a>
                        </div>
                        <div class="moreIcon d-flex align-items-center gap-2">
                            <i class="fa fa-share-alt" aria-hidden="true"></i>
                            <span class="fs-12 fw-600">Share </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="createPost-block">
                <div class="title d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0">
                        <img  class="btn-round-sm bg-greylight" src="../../../assets/user.png" />
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h6 class="fs-12 fw-bold mb-0">Surfiya Zakir </h6>
                      <small class="fs-12 text-black-50 fw-500">22 min ago </small>
                    </div>
                  </div>
                    <div class="flex-shrink-0 moreIcon">
                        <i class="fa fa-ellipsis-h btn-round-sm bg-greylight" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="text-field">
                    <p class="fs-12 text-black-50 fw-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla dolor, ornare at commodo non, feugiat non nisi. Phasellus faucibus mollis pharetra. Proin blandit ac massa sed rhoncus.  <a class="link" href="">See more</a></p>
                    <img  class="img-fluid rounded" src="../../../assets/post.png" />
                    <div class="comment-block my-3">
                        <textarea class="form-control" placeholder="What's on your mind?"></textarea>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="galleryIcon d-flex gap-2">
                            <a class="fs-12 d-flex gap-2 align-items-center text-decoration-none text-body fw-600"><i class="fa fa-thumbs-o-up bg-primary-gradiant btn-round-xs  text-white"></i></a>
                            <a class="fs-12 d-flex gap-2 align-items-center text-decoration-none text-body fw-600"><i class="fa fa-heart-o bg-red-gradiant btn-round-xs  text-white"></i> <span>2.8K Like</span></a>
                            <a class="fs-12 d-flex gap-2 align-items-center text-decoration-none text-body fw-600"><i class="fa fa-comment-o bg-primary-gradiant btn-round-xs  text-white"></i> <span>22 Comment</span></a>
                        </div>
                        <div class="moreIcon d-flex align-items-center gap-2">
                            <i class="fa fa-share-alt" aria-hidden="true"></i>
                            <span class="fs-12 fw-600">Share </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="homeSection-cardSlider pb-1 mb-3">
            <div class="row flex-nowrap">
                <div class="col-3">
                    <div class="card text-center">
                        <img src="../../../assets/user.png" class="btn-round-xxxl bg-greylight mx-auto">
                        <div class="card-body">
                          <h4 class="fs-14 fw-bold">Aliqa Macale  </h4>
                          <h4 class="fs-12 fw-600 text-black-50">@AliqaMacale</h4>
                        </div>
                        <div class="d-flex justify-content-center gap-2">
                            <a href="#" class="btn btn-lg btn-success bg-green-500 rounded-pill fs-12 fw-500">Follow</a>
                        </div>
                      </div>
                </div>
                <div class="col-3">
                    <div class="card text-center">
                        <img src="../../../assets/user.png" class="btn-round-xxxl bg-greylight mx-auto">
                        <div class="card-body">
                          <h4 class="fs-14 fw-bold">Aliqa Macale  </h4>
                          <h4 class="fs-12 fw-600 text-black-50">@AliqaMacale</h4>
                        </div>
                        <div class="d-flex justify-content-center gap-2">
                            <a href="#" class="btn btn-lg btn-success bg-green-500 rounded-pill fs-12 fw-500">Follow</a>
                        </div>
                      </div>
                </div>
                <div class="col-3">
                    <div class="card text-center">
                        <img src="../../../assets/user.png" class="btn-round-xxxl bg-greylight mx-auto">
                        <div class="card-body">
                          <h4 class="fs-14 fw-bold">Aliqa Macale  </h4>
                          <h4 class="fs-12 fw-600 text-black-50">@AliqaMacale</h4>
                        </div>
                        <div class="d-flex justify-content-center gap-2">
                            <a href="#" class="btn btn-lg btn-success bg-green-500 rounded-pill fs-12 fw-500">Follow</a>
                        </div>
                      </div>
                </div>
                <div class="col-3">
                    <div class="card text-center">
                        <img src="../../../assets/user.png" class="btn-round-xxxl bg-greylight mx-auto">
                        <div class="card-body">
                          <h4 class="fs-14 fw-bold">Aliqa Macale  </h4>
                          <h4 class="fs-12 fw-600 text-black-50">@AliqaMacale</h4>
                        </div>
                        <div class="d-flex justify-content-center gap-2">
                            <a href="#" class="btn btn-lg btn-success bg-green-500 rounded-pill fs-12 fw-500">Follow</a>
                        </div>
                      </div>
                </div>
                <div class="col-3">
                    <div class="card text-center">
                        <img src="../../../assets/user.png" class="btn-round-xxxl bg-greylight mx-auto">
                        <div class="card-body">
                          <h4 class="fs-14 fw-bold">Aliqa Macale  </h4>
                          <h4 class="fs-12 fw-600 text-black-50">@AliqaMacale</h4>
                        </div>
                        <div class="d-flex justify-content-center gap-2">
                            <a href="#" class="btn btn-lg btn-success bg-green-500 rounded-pill fs-12 fw-500">Follow</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="d-flex mb-3">
            <h6 class="text-black fw-bold fs-12">Friend Request </h6>
            <a class="ms-auto text-primary fw-bold fs-12 text-decoration-none" href="">See All</a>
            </div>
            <div class="sidebar-wrapper mb-4">
                <div class="title d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img  class="btn-round-sm bg-greylight" src="../../../assets/user.png" />
                        </div>
                        <div class="flex-grow-1 ms-3">
                        <h6 class="fs-12 fw-bold mb-0">Surfiya Zakir </h6>
                        <small class="fs-12 text-black-50 fw-600">22 min ago </small>
                        </div>
                    </div>
                    <div class="flex-shrink-0 moreIcon">
                        <i class="fa fa-ellipsis-h btn-round-sm bg-greylight" aria-hidden="true"></i>
                    </div>
                </div>
                  <div class="d-flex gap-2 mt-3">
                    <button class="btn btn-primary rounded-pill w-100 fs-12 fw-600">Confirm</button>
                    <button class="btn btn-light rounded-pill w-100 fs-12 fw-600">Delete</button>
                  </div>
            </div>
            <div class="sidebar-wrapper mb-4">
                <div class="title d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img  class="btn-round-sm bg-greylight" src="../../../assets/user.png" />
                        </div>
                        <div class="flex-grow-1 ms-3">
                        <h6 class="fs-12 fw-bold mb-0">Surfiya Zakir </h6>
                        <small class="fs-12 text-black-50 fw-600">22 min ago </small>
                        </div>
                    </div>
                    <div class="flex-shrink-0 moreIcon">
                        <i class="fa fa-ellipsis-h btn-round-sm bg-greylight" aria-hidden="true"></i>
                    </div>
                </div>
                  <div class="d-flex gap-2 mt-3">
                    <button class="btn btn-primary rounded-pill w-100 fs-12 fw-600">Confirm</button>
                    <button class="btn btn-light rounded-pill w-100 fs-12 fw-600">Delete</button>
                  </div>
            </div>
            <div class="sidebar-wrapper mb-4">
                <div class="title d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img  class="btn-round-sm bg-greylight" src="../../../assets/user.png" />
                        </div>
                        <div class="flex-grow-1 ms-3">
                        <h6 class="fs-12 fw-bold mb-0">Surfiya Zakir </h6>
                        <small class="fs-12 text-black-50 fw-600">22 min ago </small>
                        </div>
                    </div>
                    <div class="flex-shrink-0 moreIcon">
                        <i class="fa fa-ellipsis-h btn-round-sm bg-greylight" aria-hidden="true"></i>
                    </div>
                </div>
                  <div class="d-flex gap-2 mt-3">
                    <button class="btn btn-primary rounded-pill w-100 fs-12 fw-600">Confirm</button>
                    <button class="btn btn-light rounded-pill w-100 fs-12 fw-600">Delete</button>
                  </div>
            </div>
        </div>
        <div class="card">
            <div class="d-flex mb-3">
            <h6 class="text-black fw-bold fs-12">Confirm Friend </h6>
            <a class="ms-auto text-primary fw-bold fs-12 text-decoration-none" href="">See All</a>
            </div>
            <div class="sidebar-wrapper mb-4">
                <div class="title d-flex justify-content-between p-3 rounded">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img  class="btn-round-sm bg-greylight" src="../../../assets/user.png" />
                        </div>
                        <div class="flex-grow-1 ms-3">
                        <h6 class="fs-12 fw-bold mb-0">Surfiya Zakir </h6>
                        <small class="fs-12 text-black-50 fw-500 fw-bold">45 mutual friends </small>
                        </div>
                    </div>
                    <div class="flex-shrink-0 moreIcon">
                        <i class="fa fa-angle-right btn-round-sm bg-white" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="sidebar-wrapper mb-4">
                <div class="title d-flex justify-content-between bg-greylight p-3 rounded">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img  class="btn-round-sm bg-greylight" src="../../../assets/user.png" />
                        </div>
                        <div class="flex-grow-1 ms-3">
                        <h6 class="fs-12 fw-bold mb-0">Mohannad Zitoun </h6>
                        <small class="fs-12 text-black-50 fw-500 fw-bold">18 mutual friends </small>
                        </div>
                    </div>
                    <div class="flex-shrink-0 moreIcon">
                        <i class="fa fa-angle-right btn-round-sm bg-white" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="sidebar-wrapper mb-4">
                <div class="title d-flex justify-content-between bg-greylight p-3 rounded">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img  class="btn-round-sm bg-greylight" src="../../../assets/user.png" />
                        </div>
                        <div class="flex-grow-1 ms-3">
                        <h6 class="fs-12 fw-bold mb-0">Hurin Seary </h6>
                        <small class="fs-12 text-black-50 fw-500 fw-bold">28 mutual friends </small>
                        </div>
                    </div>
                    <div class="flex-shrink-0 moreIcon">
                        <i class="fa fa-angle-right btn-round-sm bg-white" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="d-flex mb-3">
            <h6 class="text-black fw-bold fs-12">Suggest Pages </h6>
            <a class="ms-auto text-primary fw-bold fs-12 text-decoration-none" href="">See All</a>
            </div>
            <div class="align-items-center mb-4">
                    <img  class="img-fluid rounded" src="../../../assets/story.png" />
                    <div  class="mt-2">
                        <a  href="#" class="btn btn-lg bg-greylight rounded-pill fs-12 fw-500 w-100"><i class="fa fa-pencil-square-o text-dark" aria-hidden="true"></i> Follow</a>
                    </div>
            </div>
            <div class="align-items-center">
                <img  class="img-fluid rounded" src="../../../assets/story.png" />
                <div  class="mt-2">
                    <a  href="#" class="btn btn-lg bg-greylight rounded-pill fs-12 fw-500 w-100"><i class="fa fa-pencil-square-o text-dark" aria-hidden="true"></i> Follow</a>
                </div>
        </div>
            
        </div>
    </div>
</div>



