<div class="inner-wrapper">
    <div class="card p-0">
        <div class="card-head bg-primary text-white p-4 rounded fs-18 fw-600"><a href="javascript:void(0)" class="text-white" routerLink="/defaultsettings"><i class="fa fa-angle-left me-4 fs-5" aria-hidden="true"></i></a>Contact Information
        </div>
        <div class="card-body">
            <div class="account-detail-form p-4">
                <form class="row g-3">
                    <div class="col-md-6">
                      <label for="country" class="form-label fs-12 fw-600">Country</label>
                      <input type="country" class="form-control" id="country">
                    </div>
                    <div class="col-md-6">
                        <label for="city" class="form-label fs-12 fw-600">City</label>
                        <input type="city" class="form-control" id="city">
                    </div>
                    <div class="col-md-6">
                        <label for="address" class="form-label fs-12 fw-600">Address</label>
                        <input type="address" class="form-control" id="address">
                    </div>
                    <div class="col-md-6">
                        <label for="pincode" class="form-label fs-12 fw-600">Pincode</label>
                        <input type="pincode" class="form-control" id="pincode">
                    </div>
                    <div class="col-md-6">
                        <label for="City" class="form-label fs-12 fw-600">City</label>
                        <input type="City" class="form-control" id="City">
                    </div>
                    <div class="col-md-6">
                        <label for="State" class="form-label fs-12 fw-600">State</label>
                        <input type="State" class="form-control" id="State">
                    </div>
                    <div class="col-md-12">
                        <div class="">
                        <iframe width="100%" height="100%" class="rounded" id="gmap_canvas" src="https://maps.google.com/maps?q=california&t=&z=10&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        </div>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-lg btn-primary fs-14 w-25 py-3 fw-600 rounded">Save</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>