<div class="inner-wrapper">
    <div class="frontscreen-block ">
        <div class="loging-header d-flex justify-content-between px-3">
            <a class="navbar-brand text-primary fw-bold fs-1" href="#"><i class="fa fa-bolt text-success"
                    aria-hidden="true"></i> Sociala.</a>
            <div class="d-flex justify-content-between">
                <button
                    class="btn btn-lg bg-dark text-white fs-14 w-100 fw-500 py-3 px-4 rounded mt-3 text-start rounded-pill"
                    routerLink="/login">Login</button>
                <button
                    class="btn btn-lg bg-primary text-white fs-14 w-100 fw-500 py-3 px-4 ms-2 rounded mt-3 text-start rounded-pill">Register</button>
            </div>
        </div>
        <div class="container-fluid">
            <form [formGroup]="registerForm">
                <div class="row">
                    <div class="col-xl-5 d-none d-xl-block p-0 min-vh-100">
                        <div class="leftScreen">
                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div class="registerFormCreate rounded-3 gap-3 min-vh-100 p-3">
                            <div class="login-card">
                                <h2 class="mb-4">Create your account </h2>
                                <div class="form-group">
                                    <label class="toggle-switch">
                                        <input type="checkbox">
                                        <span class="slider round" (click)="toggleDiv()"></span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <i class="fa fa-user text-black-50" aria-hidden="true"></i>
                                    <input type="text" class="form-control" id="name" formControlName="name"
                                        placeholder="Your Name">
                                    <ng-container
                                        *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
                                        <p class="caption status-danger"
                                            *ngIf="registerForm.get('name')?.errors?.['required']">
                                            Name is required
                                        </p>
                                    </ng-container>
                                </div>
                                <div class="form-group">
                                    <i class="fa fa-envelope text-black-50" aria-hidden="true"></i>
                                    <input type="mail" class="form-control" formControlName="email" pattern=".+@.+\..+"
                                        id="email" placeholder="Your Email Address">
                                    <ng-container
                                        *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                                        <p class="caption status-danger"
                                            *ngIf="registerForm.get('email')?.errors?.['required']">
                                            Email is required
                                        </p>
                                        <p class="caption status-danger"
                                            *ngIf="registerForm.get('email')?.errors?.['pattern']">
                                            Please enter valid email
                                        </p>
                                    </ng-container>
                                </div>
                                <div class="form-group">
                                    <i class="fa fa-lock text-black-50" aria-hidden="true"></i>
                                    <input type="password" class="form-control" formControlName="password" id="password"
                                        placeholder="Password">
                                    <ng-container
                                        *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                                        <p class="caption status-danger"
                                            *ngIf="registerForm.get('password')?.errors?.['required']">
                                            Password is required
                                        </p>
                                    </ng-container>
                                </div>
                                <div class="form-group">
                                    <i class="fa fa-lock text-black-50" aria-hidden="true"></i>
                                    <input type="password" class="form-control" id="cpassword"
                                        placeholder="Confirm Password" formControlName="confirmPassword">
                                    <div
                                        *ngIf="registerForm.get('confirmPassword')?.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched">
                                        <p class="caption status-danger">Passwords do not match.</p>
                                    </div>
                                </div>
                                <div class="form-group form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label fs-14 text-black-50" for="flexCheckDefault">
                                        Accept Term and Conditions</label>
                                </div>
                                <button type="submit" [disabled]="registerForm.invalid"
                                    class="btn register-btn mb-3">Register</button>
                                <div class="fs-14 fw-600 text-black-50">Already have account <a href="#"
                                        class="text-decoration-none">Login</a></div>
                            </div>
                            <div class="registerForm" *ngIf="showDiv">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>User Email</label>
                                            <input type="text" placeholder="User Email" formControlName="userEmail"
                                                pattern=".+@.+\..+" class="form-control">
                                            <ng-container
                                                *ngIf="registerForm.get('userEmail')?.invalid && registerForm.get('userEmail')?.touched">
                                                <p class="caption status-danger"
                                                    *ngIf="registerForm.get('userEmail')?.errors?.['required']">
                                                    Email is required
                                                </p>
                                                <p class="caption status-danger"
                                                    *ngIf="registerForm.get('userEmail')?.errors?.['pattern']">
                                                    Please enter valid email
                                                </p>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label> User Name</label>
                                            <input type="text" placeholder="User Name" formControlName="userName"
                                                class="form-control">
                                            <ng-container
                                                *ngIf="registerForm.get('userName')?.invalid && registerForm.get('userName')?.touched">
                                                <p class="caption status-danger"
                                                    *ngIf="registerForm.get('userName')?.errors?.['required']">
                                                    Name is required
                                                </p>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Country</label>
                                            <div class="customSelect">
                                                <select class="form-control" formControlName="country"
                                                    (ngModelChange)="onCountryChange($event)">
                                                    <option *ngFor="let county of countryData" [value]="county['iso2']">
                                                        {{
                                                        county['name'] }}
                                                    </option>
                                                </select>
                                            </div>
                                            <ng-container
                                                *ngIf="registerForm.get('country')?.invalid && registerForm.get('country')?.touched">
                                                <p class="caption status-danger"
                                                    *ngIf="registerForm.get('country')?.errors?.['required']">
                                                    Country is required
                                                </p>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>State</label>
                                            <div class="customSelect">
                                                <select class="form-control" id="state" formControlName="state"
                                                    (ngModelChange)="onStateChange($event)">
                                                    <option *ngFor="let state of stateData" [value]="state['iso2']">
                                                        {{ state['name'] }}
                                                    </option>
                                                </select>
                                            </div>
                                            <ng-container
                                                *ngIf="registerForm.get('state')?.invalid && registerForm.get('state')?.touched">
                                                <p class="caption status-danger"
                                                    *ngIf="registerForm.get('state')?.errors?.['required']">
                                                    State is required
                                                </p>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>City</label>
                                            <div class="customSelect">
                                                <select class="form-control" formControlName="city">
                                                    <option *ngFor="let city of cityData" [value]="city['iso2']">{{
                                                        city['name']
                                                        }}</option>
                                                </select>
                                            </div>
                                            <ng-container
                                                *ngIf="registerForm.get('city')?.invalid && registerForm.get('city')?.touched">
                                                <p class="caption status-danger"
                                                    *ngIf="registerForm.get('city')?.errors?.['required']">
                                                    City is required
                                                </p>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Code</label>
                                            <input type="text" class="form-control" placeholder="Code"
                                                formControlName="code">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Credit Card Number</label>
                                            <input type="text" (input)="onCardNumberInput($event)" class="form-control"
                                                placeholder="Card Number" formControlName="cardNumber">
                                            <ng-container
                                                *ngIf="registerForm.get('cardNumber')?.invalid && registerForm.get('cardNumber')?.touched">
                                                <p class="caption status-danger"
                                                    *ngIf="registerForm.get('cardNumber')?.errors?.['required']">
                                                    Card Number is required
                                                </p>
                                                <div
                                                    *ngIf="registerForm.get('cardNumber')?.invalid && registerForm.get('cardNumber')?.touched">
                                                    <p class="caption status-danger">Please enter a valid 16-digit card
                                                        number.
                                                    </p>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>CVV Number</label>
                                            <input type="text" placeholder="CVV number" formControlName="cvvNumber"
                                                class="form-control" (input)="onCvvNumberInput($event)">
                                            <ng-container
                                                *ngIf="registerForm.get('cvvNumber')?.invalid && registerForm.get('cvvNumber')?.touched">
                                                <p class="caption status-danger"
                                                    *ngIf="registerForm.get('cvvNumber')?.errors?.['required']">
                                                    CVV is required
                                                </p>
                                                <div
                                                    *ngIf="registerForm.get('cvvNumber')?.invalid && registerForm.get('cvvNumber')?.touched">
                                                    <p class="caption status-danger"> Please enter valid 3 digit number.
                                                    </p>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="expirationMonth">Expiration Date</label>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="customSelect">
                                                        <select class="form-control" formControlName="expirationMonth">
                                                            <option value="">Month</option>
                                                            <option *ngFor="let month of months" [value]="month">{{
                                                                month }}
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <ng-container
                                                        *ngIf="registerForm.get('expirationMonth')?.invalid && registerForm.get('expirationMonth')?.touched">
                                                        <p class="caption status-danger"
                                                            *ngIf="registerForm.get('expirationMonth')?.errors?.['required']">
                                                            Month is required
                                                        </p>
                                                    </ng-container>
                                                </div>
                                                <div class="col-6">
                                                    <div class="customSelect">
                                                        <select class="form-control" formControlName="expirationYear">
                                                            <option value="">Year</option>
                                                            <option *ngFor="let year of years" [value]="year">{{ year }}
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <ng-container
                                                        *ngIf="registerForm.get('expirationYear')?.invalid && registerForm.get('expirationYear')?.touched">
                                                        <p class="caption status-danger"
                                                            *ngIf="registerForm.get('expirationYear')?.errors?.['required']">
                                                            Year is required
                                                        </p>
                                                    </ng-container>
                                                    <div *ngIf="registerForm.hasError('invalidExpirationDate')">
                                                        <p class="caption status-danger">
                                                            Expiration date is invalid or before
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>