.frontscreen-block {
  .leftScreen {
    background-image: url("../../../assets/post.png");
    // height: 100vh;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .login-card {
    max-width: 50%;
    width: 100%;
    margin: 0 auto;
    h2 {
      font-size: 36px;
      font-weight: 700;
    }
    .form-control {
      // height: 60px;
      // line-height: 60px;
      display: block;
      border: 2px #eee solid;
      border-radius: 7px;
      padding-left: 40px;
      font-size: 16px;
      font-weight: 600;
    }
    .form-group {
      position: relative;
      i {
        position: absolute;
        left: 15px;
        top: 22px;
      }
      .switchLabel {
        font-size: 16px;
        margin-left: 10px;
      }
    }
  }
  .registerForm {
    max-width: 50%;
    margin: 0 auto;
  }
}
.registerFormCreate {
  display: flex;
  align-items: center;
}
.rightScreen {
  p {
    font-weight: 500;
    color: #adb5bd;
  }
}
.loging-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 96px;
  padding: 0 15px 0 0;
  -webkit-transition: left 0.25s;
  -o-transition: left 0.25s;
  transition: left 0.25s;
  display: none !important;
}

/* Toggle Switch Styling */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 15px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Toggled Div Styling */
.toggle-div {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  background-color: #f0f0f0;
}
.d-flex {
  display: flex;
}
.form-group {
  margin-bottom: 20px;
}
.register-btn {
  font-weight: 600;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #212529;
  width: 100%;
  padding: 15px;
  line-height: normal;
  color: #fff;
  background-color: #212529;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    background-color: transparent;
    color: #212529;
  }
}
@media only screen and (max-width: 1199px) {
  .frontscreen-block {
    .login-card {
      h2 {
        font-size: 26px;
        margin-bottom: 15px !important;
      }
    }
  }
  .registerFormCreate {
    align-items: flex-start;
  }
}
@media only screen and (max-width: 767px) {
  .registerFormCreate {
    flex-direction: column;
    padding: 0 !important;
    .login-card,
    .registerForm {
      max-width: 100%;
    }
  }
}
