<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="filter-search-block">
                <div class="text-field">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="fw-bold d-flex gap-4 mb-0">Group </h4>
                        <div class="moreIcon d-flex justify-content-between">
                            <div class="header-search-field position-relative">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <input class="form-control border-0 bg-greylight" type="search" placeholder="Search here" aria-label="Search">
                            </div>
                            <i class="fa fa-filter btn-square bg-greylight" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cover-block">
            <div class="row">
                <div class="col-sm-6">
                  <div class="card text-center p-0">
                    <img src="../../../assets/post.png" class="card-img-top" alt="...">
                    <div class="d-flex justify-content-between p-3 pb-4">
                        <div class="d-flex align-items-start popular-profile-page">
                            <img src="../../../assets/user.png" class="btn-round-xxxl bg-greylight mx-auto border-4 border border-white">
                            <div class="card-body px-3 py-0">
                                <h4 class="fs-6 fw-bold">Aliqa Macale</h4>
                                <h4 class="fs-12 fw-600 text-black-50">support@gmail.com</h4>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="card-body p-0">
                                <i class="fa fa-video-camera text-white btn-round-md bg-primary d-none d-lg-inline-block" aria-hidden="true"></i> 
                                <a href="#" class="btn btn-lg btn-primary rounded-pill fs-12 fw-500 ms-2">Follow</a>
                                </div>
                        </div>
                    </div>
                    
                  </div>
                </div>
                <div class="col-sm-6">
                    <div class="card text-center p-0">
                      <img src="../../../assets/post.png" class="card-img-top" alt="...">
                      <div class="d-flex justify-content-between p-3 pb-4">
                          <div class="d-flex align-items-start popular-profile-page">
                              <img src="../../../assets/user.png" class="btn-round-xxxl bg-greylight mx-auto border-4 border border-white">
                              <div class="card-body px-3 py-0">
                                  <h4 class="fs-6 fw-bold">Aliqa Macale</h4>
                                  <h4 class="fs-12 fw-600 text-black-50">support@gmail.com</h4>
                              </div>
                          </div>
                          <div class="d-flex justify-content-end">
                              <div class="card-body p-0">
                                  <i class="fa fa-video-camera text-white btn-round-md bg-primary d-none d-lg-inline-block" aria-hidden="true"></i> 
                                  <a href="#" class="btn btn-lg btn-primary rounded-pill fs-12 fw-500 ms-2">Follow</a>
                                  </div>
                          </div>
                      </div>
                      
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card text-center p-0">
                      <img src="../../../assets/post.png" class="card-img-top" alt="...">
                      <div class="d-flex justify-content-between p-3 pb-4">
                          <div class="d-flex align-items-start popular-profile-page">
                              <img src="../../../assets/user.png" class="btn-round-xxxl bg-greylight mx-auto border-4 border border-white">
                              <div class="card-body px-3 py-0">
                                  <h4 class="fs-6 fw-bold">Aliqa Macale</h4>
                                  <h4 class="fs-12 fw-600 text-black-50">support@gmail.com</h4>
                              </div>
                          </div>
                          <div class="d-flex justify-content-end">
                              <div class="card-body p-0">
                                  <i class="fa fa-video-camera text-white btn-round-md bg-primary d-none d-lg-inline-block" aria-hidden="true"></i> 
                                  <a href="#" class="btn btn-lg btn-primary rounded-pill fs-12 fw-500 ms-2">Follow</a>
                                  </div>
                          </div>
                      </div>
                      
                    </div>
                  </div>
                <div class="col-sm-6">
                    <div class="card text-center p-0">
                      <img src="../../../assets/post.png" class="card-img-top" alt="...">
                      <div class="d-flex justify-content-between p-3 pb-4">
                          <div class="d-flex align-items-start popular-profile-page">
                              <img src="../../../assets/user.png" class="btn-round-xxxl bg-greylight mx-auto border-4 border border-white">
                              <div class="card-body px-3 py-0">
                                  <h4 class="fs-6 fw-bold">Aliqa Macale</h4>
                                  <h4 class="fs-12 fw-600 text-black-50">support@gmail.com</h4>
                              </div>
                          </div>
                          <div class="d-flex justify-content-end">
                              <div class="card-body p-0">
                                  <i class="fa fa-video-camera text-white btn-round-md bg-primary d-none d-lg-inline-block" aria-hidden="true"></i> 
                                  <a href="#" class="btn btn-lg btn-primary rounded-pill fs-12 fw-500 ms-2">Follow</a>
                                  </div>
                          </div>
                      </div>
                      
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card text-center p-0">
                      <img src="../../../assets/post.png" class="card-img-top" alt="...">
                      <div class="d-flex justify-content-between p-3 pb-4">
                          <div class="d-flex align-items-start popular-profile-page">
                              <img src="../../../assets/user.png" class="btn-round-xxxl bg-greylight mx-auto border-4 border border-white">
                              <div class="card-body px-3 py-0">
                                  <h4 class="fs-6 fw-bold">Aliqa Macale</h4>
                                  <h4 class="fs-12 fw-600 text-black-50">support@gmail.com</h4>
                              </div>
                          </div>
                          <div class="d-flex justify-content-end">
                              <div class="card-body p-0">
                                  <i class="fa fa-video-camera text-white btn-round-md bg-primary d-none d-lg-inline-block" aria-hidden="true"></i> 
                                  <a href="#" class="btn btn-lg btn-primary rounded-pill fs-12 fw-500 ms-2">Follow</a>
                                  </div>
                          </div>
                      </div>
                      
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card text-center p-0">
                      <img src="../../../assets/post.png" class="card-img-top" alt="...">
                      <div class="d-flex justify-content-between p-3 pb-4">
                          <div class="d-flex align-items-start popular-profile-page">
                              <img src="../../../assets/user.png" class="btn-round-xxxl bg-greylight mx-auto border-4 border border-white">
                              <div class="card-body px-3 py-0">
                                  <h4 class="fs-6 fw-bold">Aliqa Macale</h4>
                                  <h4 class="fs-12 fw-600 text-black-50">support@gmail.com</h4>
                              </div>
                          </div>
                          <div class="d-flex justify-content-end">
                              <div class="card-body p-0">
                                  <i class="fa fa-video-camera text-white btn-round-md bg-primary d-none d-lg-inline-block" aria-hidden="true"></i> 
                                  <a href="#" class="btn btn-lg btn-primary rounded-pill fs-12 fw-500 ms-2">Follow</a>
                                  </div>
                          </div>
                      </div>
                      
                    </div>
                  </div>
              </div>
        </div>
        
    </div>
</div>