<div class="card bg-light p-5 shadow-none">
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <img src="../../../assets/post.png" class="card-img-top rounded" alt="...">
        </div>
        <div class="col-sm-12 col-lg-6">
            <h2 class="fw-bold fs-1">Set up your Social website with Sociala </h2>
            <p class="text-black-50 fs-14">After completing this course you'll be confident to create any subtle to complex animation that will turn any project a professional work.            </p>
            <a href="#" class="btn btn-lg bg-blue-gradiant fs-12 fw-600 ms-2 text-white px-5 py-3 rounded">Analysis</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-lg-3">
        <div class="d-flex justify-content-between align-items-start align-items-lg-center mb-3 card " style="background: rgb(229, 246, 255);">
            <div class="d-flex align-items-start gap-3">
                <div class="flex-shrink-0">
                    <span class="btn-round-lg bg-primary text-white fs-5 fw-bold">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="flex-grow-1">
                    <h6 class="fs-3 fw-bold mb-0 text-primary">2.3M </h6>
                    <p class="fs-12 fw-bold mb-0 text-black-50">day visiter </p>
                </div>
              </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-3">
        <div class="d-flex justify-content-between align-items-start align-items-lg-center mb-3 card" style="background: rgb(240, 240, 240);">
            <div class="d-flex align-items-center gap-3">
                <div class="flex-shrink-0">
                    <span class="btn-round-lg bg-secondary text-white fs-5 fw-bold">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="flex-grow-1">
                    <h6 class="fs-3 fw-bold mb-0 text-secondary">44.6K </h6>
                    <p class="fs-12 fw-bold mb-0 text-black-50">total user </p>
                </div>
              </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-3">
        <div class="d-flex justify-content-between align-items-start align-items-lg-center mb-3 card" style="background: rgb(226, 246, 233);">
            <div class="d-flex align-items-center gap-3">
                <div class="flex-shrink-0">
                    <span class="btn-round-lg bg-success text-white fs-5 fw-bold">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="flex-grow-1">
                    <h6 class="fs-3 fw-bold mb-0 text-success">603 </h6>
                    <p class="fs-12 fw-bold mb-0 text-black-50">monthly sale </p>
                </div>
              </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-3">
        <div class="d-flex justify-content-between align-items-start align-items-lg-center mb-3 card" style="background: rgb(255, 254, 233);">
            <div class="d-flex align-items-center gap-3">
                <div class="flex-shrink-0">
                    <span class="btn-round-lg bg-warning text-white fs-5 fw-bold">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="flex-grow-1">
                    <h6 class="fs-3 fw-bold mb-0 text-warning">3M </h6>
                    <p class="fs-12 fw-bold mb-0 text-black-50">day visiter </p>
                </div>
              </div>
        </div>
    </div>
</div>